<template>
  <div id="app" class="container">
    <div id="nav">

      <div class="title">
        <h1>OVS</h1>
        <h2>Template Express - Vue</h2>
        <div class="row">
              <div class="col col-xs-12 col-sm-10">
              </div>
          </div>
      </div>
    </div>

    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class App extends Vue {
}

</script>

<style>
#app {
  margin-top: 50px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav{
  margin-bottom: 40px;
}

.title{
  margin-bottom: 20px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
body{
  font-size: 14px !important;
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1400px !important;
  }
}

</style>
