<template>
    <div>
        
        <b-sidebar id="sidebar-processes" title="Filtra processi" bg-variant="dark" text-variant="light" shadow>
            <div class="px-3 py-2">
                 <b-form>
                     <b-form-group
                        label="Codice:"
                        label-for="process-code"
                    >
                        <b-input id="process-code" class="process-type" size="sm" v-model="filters.code" @input="getProcesses()" ></b-input>
                    </b-form-group>
                    <b-form-group
                        label="Formato:"
                        label-for="process-format"
                    >
                        <b-form-select id="process-format" class="process-type" size="sm" v-model="filters.processType" :options="typeOptions" @input="getProcesses()" ></b-form-select>
                    </b-form-group>

                    <b-form-group>
                        <b-form-checkbox
                            id="mobile-checkbox"
                            v-model="filters.mobileEnabled"
                            name="mobile-checkbox"
                            value="true"
                            unchecked-value="false"
                            @input="getProcesses()"
                            >
                                Mobile abilitato
                        </b-form-checkbox>
                    </b-form-group>

                    <b-form-group>
                        <b-form-checkbox
                            id="dropped-checkbox"
                            v-model="filters.includeDropped"
                            name="dropped-checkbox"
                            value="true"
                            unchecked-value="false"
                            @input="getProcesses()"
                            >
                                Includi processi cancellati
                        </b-form-checkbox>
                    </b-form-group>
                </b-form>
            </div>
        </b-sidebar>
        <b-row>           
            <b-col>

                <b-table
                    :if="!loading"
                    :items="processes"
                    :fields="fields"
                    class="mb-3"
                    striped
                    hover
                    @sort-changed="sortKey++"
                    id="process-table"
                >
                    <template #cell(details)="row">
                            <button @click="loadDetails(row)" class="btn" ><i :key="row.detailsShowing" :class="{ 'fa-eye-slash': row.detailsShowing, 'fa-eye': !row.detailsShowing }" class="fa table-icon" ></i></button>
                    </template>
                    <template #row-details="row">
                        <div v-if="loadingDetails" class="d-flex justify-content-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div v-else class="details-card">
                            <b-card>
                                <b-row>
                                    <b-col>
                                        <b>Descrizione: </b>{{selectedProcess[row.item.code].notes}}
                                    </b-col>
                                    <b-col>
                                        <b>Mobile abilitato: </b>{{selectedProcess[row.item.code].is_mobile_enabled}}
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>
                                        <b>Tipo: </b>{{selectedProcess[row.item.code].process_type}}
                                    </b-col>
                                    <b-col>
                                        <b>Cancellato: </b>{{selectedProcess[row.item.code].dropped}}
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>
                                        <b>Ultimo aggiornamento: </b>{{selectedProcess[row.item.code].updated.ts}}
                                    </b-col>
                                    <b-col>
                                        <b>Aggiornato da: </b>{{selectedProcess[row.item.code].updated.user_id}}
                                    </b-col>
                                </b-row>
                        </b-card>
                        </div>
                        
                    </template>
                    </b-table>

                </b-table>

                <div class="process-list">
                    <div v-if="loading" class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

            </b-col>
        </b-row>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ProcessList extends Vue {

    private processes: Array<any> = []
    private loading : boolean = false;
    private typeOptions: Array<any> =  [
          { value: null, text: 'Tutti i tipi' }
        ]
    private filters : any = {
        processType: null,
        includeDropped: null,
        code: null,
        mobileEnabled: null
    }

    private fields: Array<any> = [
          {
            key: 'code',
            sortable: true,
            label: "Codice Processo"
          },
          {
            key: 'name',
            sortable: true,
            label: "Nome"
          },
          {
            key: 'notes',
            sortable: true,
            label: "Descrizione"
          },
          {
            key: 'format_type',
            sortable: true,
            label: "Formato"
          },
          {
              key: 'details',
              sortable: false,
              label: ''
          }
        ]

    async getProcesses(){
        console.log('getProcesses')
    }

    async loadDetails(row: any){
        console.log('loadDetails')
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.process-list {
    margin-top: 2em;
}

.filters{
    margin-bottom: 20px
}

button + button {
    margin-left: 1em;
}
.table-icon{
  font-size: 20px;
  margin-right: 10px;
  color: #007bff;
}
.details-card .card-body{
    background-color: #007bff2b;
}
</style>
