<template>
  <div class="home">
    <ProcessList />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ProcessList from '@/components/ProcessList.vue'; 

@Component({
  components: {
      ProcessList
    },
})
export default class Home extends Vue {}
</script>
